.visual-postlet {
  min-height: 200px;
  background: #eee;
  position: relative;
  margin-bottom: 4em;
  
  &:after {
    content: ' ';
    display: block;
    height: 0;
    width: 1000%;
    position: absolute;
    bottom: -2em;
    left: -200%;
    border-bottom: dashed 1px $interface-separator-color;
  }
  
  &__permalink-wrap {
    display: block;
    min-width: 100px;
    position: absolute;
    top: -5px;
    left: -57px;
    background: white;
  }
  
  &__permalink {
    @extend %interface-link;
    display: block;
    margin: 5px;
    padding: .2em .4em;
    border: solid 4px black;
    font-size: 2.4em;
    transition: color 0.5s ease;
    
    &:hover, &:focus {
      color: $evergreen-brand-primary;
    }
  }
  
  .block-nav--tags {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}