.visual-postlet {
  min-height: 200px;
  background: #eee;
  position: relative;
  margin-bottom: 4em;
  
  &:after {
    content: ' ';
    display: block;
    height: 0;
    width: 1000%;
    position: absolute;
    bottom: -2em;
    left: -200%;
    border-bottom: dashed 1px $interface-separator-color;
  }
  
  &__permalink-wrap {
    display: block;
    text-align: center;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $evergreen-brand-primary;

    .link-icon:before {
      font-size: 2em;
      line-height: 1em;
      display: block;
      margin-bottom: .3em;
    }
  }
  
  &__permalink {
    @extend %interface-link;
    display: block;
    margin: 5px;
    padding: 1em 0;
    font-size: 1em;
    transition: opacity 0.5s ease-in-out;
    color: $evergreen-brand-primary;
  }
  
  .block-nav--tags {
    position: absolute;
    bottom: 0;
    left: 100px;
  }
}